* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 300;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
}

.main,
.game-rule,
.map-info,
.weapon-info {
    height: 100vh;
}

/* loader */

.loading-screen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url(images/bg-load.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.text h2 {
    position: relative;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
}

.loader-line {
    position: relative;
    margin-top: 20px;
    padding: 1px;
    width: 400px;
    height: 8px;
    border: #fff solid 1px;
    border-radius: 4px;
}

.loader-line .line {
    background: #f0a510;
    width: 100%;
    height: 100%;
    animation: loading 2s forwards cubic-bezier(0, 0, 0, 0);
}

@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

/* menu-bar */

.menu-bar {
    display: flex;
    align-items: center;
    width: 500px;
    height: 100%;
    position: fixed;
    top: 0;
    left: calc(75px - 500px);
    transition: all .5s ease;
    z-index: 2;
}

.menu-bar:hover {
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.menu-bar::before {
    right: calc(100% - 100px);
}

.menu-bar::after {
    right: 0;
}

.menu-ico > div::before,
.menu-ico > div::after {
    position: absolute;
    right: calc((75px - 25px) / 2);
    content: '';
    width: 25px;
    height: 1px;
    background: #fff;
    transition: all .5s ease;
}

.menu-ico > div::before {
    transform: translateY(4px);
}

.menu-ico > div::after {
    transform: translateY(-4px);
}

.menu-bar:hover .menu-ico > div::before {
    transform: translateY(0);
    transform: rotate(45deg);
}

.menu-bar:hover .menu-ico > div::after {
    transform: translateY(0);
    transform: rotate(-45deg);
}

.menu-list {
    position: absolute;
    width: calc(500px - 25px);
    text-align: center;
}

.menu-items a {
    color: #fff;
    font-size: 50px;
    line-height: 200%;
    font-weight: 500;
    transition: color 0.25s;
}

.menu-items a:hover {
    color: #f0a510;
}

/* nav-bar */

.nav-bar {
    position: fixed;
    right: 50px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50px;
    height: 100px;
    padding: 2px;
    border-radius: 25px;
    z-index: 2;
    overflow: hidden;
}

.nav-bar div {
    background: rgba(255, 255, 255, 0.4);
    width: 40px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}

.nav-bar div i {
    transition: all 0.25s;
}

.nav-bar div:hover i {
    color: #f0a510;
}

.nav-bar div:hover {
    background: rgba(255, 255, 255, 0.7);
}

/* main */

.main {
    background: url(images/bg-main.png);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-title {
    width: 60%;
}

.main-title img {
    width: 100%;
}

.more-btn {
    position: relative;
    margin-top: 30px;
    width: 170px;
    height: 50px;
    cursor: pointer;
}

.more-btn div::before {
    content: '';
    position: absolute;
    width: 0;
    height: 50px;
    top: 0;
    left: 0;
    background: url(images/brush.png);
    background-position: -40px 72.5%;
    background-size: 250px;
    transition: width 0.25s;
}

.more-btn p {
    position: relative;
    color: #fff;
    margin: 0 20px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    font-weight: bolder;
}

.more-btn ion-icon {
    color: #fff;
    padding-bottom: 3px;
    vertical-align: middle;
}

.more-btn:hover div::before {
    width: 170px;
}

/* game-rule */

.game-rule {
    position: relative;
    overflow: hidden;
}

.bg-video {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

video {
    mix-blend-mode: multiply;
}

.title,
.details {
    position: absolute;
    left: 25%;
    width: 50%;
    text-align: center;
}

.title {
    top: 35%;
}

.details {
    top: 47%;
}

.title h1,
.title i {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}

.details p {
    color: #fff;
}

.details p:first-child {
    margin-bottom: 10px;
}

/* map-info */

.map-info {
    background-image: url(images/bg-map.png);
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.map-info .title {
    top: 20%
}

.map-info .details {
    top: 30%;
}

.map-info .more-btn {
    top: 32%;
}

.img-slide-container {
    position: absolute;
    bottom: 10%;
    width: calc(447px * 1.5);
    height: calc(267px * 1.5);
    overflow: hidden;
}

.map-img {
    display: none;
    position: relative;
}

.map-img img {
    width: 100%;
}

.prev,
.next {
    font-family: 'Island Moments', cursive;
    font-size: 100px;
    cursor: pointer;
    padding: 0 20px;
    position: absolute;
    top: calc(50% - 100px / 2);
    width: auto;
    color: #fff;
    transition: 0.6s ease;
    user-select: none;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    opacity: 70%;
}

.slide-dots {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 50px);
}

.dot {
    cursor: pointer;
    text-align: center;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #fff;
    opacity: 40%;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    opacity: 100%;
}
  
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* weapon-info */

.weapon-info {
    background-image: url(images/bg-weapon.jpg);
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weapon-info .bg-overlay {
    background: linear-gradient(217deg, rgba(80, 0, 0, 0.8), rgba(80,0,0,0) 70%),
            linear-gradient(127deg, rgba(0,80,0, 0.8), rgba(0,80,0,0) 70%),
            linear-gradient(336deg, rgba(0,0,80, 0.8), rgba(0,0,80,0) 70%);
    mix-blend-mode: darken;
}

.weapon-info .more-btn {
    top: 4%;
}

/* social */

.social {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background: rgb(50, 50, 50);
    transition: 0.25s;
}

.social .title {
    top: 20%;
}

.social-icons {
    position: relative;
    display: flex;
}

.social-icons li::before {
    content: attr(data-text);
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, calc(-50% + 150px));
    font-size: 10vw;
    pointer-events: none;
    font-weight: bold;
    transition: 0.25s;
    opacity: 0;
}

.social-icons li:hover::before {
    opacity: 0.1;
    transform: translate(-50%, calc(-50% + 200px));
}

.social-icons a {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 50px;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 25px 35px rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.3);
    transition: background 0.25s ease;
}

.js-tilt-glare {
    border-radius: 20px;
}

.social-icons .insta::before {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;
    background: linear-gradient(60deg, #ffdc80, #f77737, #e1306c, #833ab4, #5851db);
    opacity: 0;
    transition: opacity 0.25s ease;
}

.social-icons .fa-instagram {
    z-index: 2;
}

.social-icons img {
    width: 50px;
    height: 50px;
}

.social-icons i {
    font-size: 40px;
    color: #fff;
}

.social-icons a:hover.naver {
    background: #00c73c;
}

.social-icons a:hover.youtube {
    background: #ff0000;
}

.social-icons a:hover.facebook {
    background: #1877f2;
}

.social-icons a:hover.insta::before {
    background: linear-gradient(60deg, #ffdc80, #f77737, #e1306c, #833ab4, #5851db);
    opacity: 1;
}

.social-icons a:hover.tictok {
    background: #000;
}

.social-icons a .fa {
    transition: 0.25s;
    pointer-events: none;
}

.social-icons a:hover .fa-brands,
.social-icons a:hover img {
    transform: scale(1.5) translateZ(30px);
}

/* spec-info */

.spec-info {
    background: #000;
    position: relative;
    height: 80vh;
}

.spec-info .title {
    top: 15%;
}

.spec-table {
    display: inline-flex;
    position: absolute;
    top: 40%;
    right: calc(50% - 40vw);
}

.spec-table ul {
    width: 40vw;
}

.spec-table li {
    color: #fff;
}